


.screen.auth.content {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  color: #fff;
  overflow-y: scroll;
  z-index: 2000; /* Want it to be supperior than reactstrap modal */
}