/**
 * LAYOUTS
 * Every custom layouts of the application
*/


/* .Et1 .screen.auth {
  flex-direction: row;
} */

.Et1 .screen.auth,
.Et1 .screen.home,
.Et1 .screen.single {
  flex-direction: column;
} 


.Et1 .screen.auth .container {
  margin-bottom: 50px;
  max-width: 400px;
  width: 100%;
  position: relative;
  top: 70px;
}
.Et1 .screen.auth [for="root_remember-auth"] {
  display: none;
}

/**
 * Smaller devices
 * -------------------------
*/
@media (min-width: 992px) {
  .Et1 .screen.auth .container {
    top: 200px;
  }
}


/**
 * Cause child columns (.col) to be wrapped and create multiple rows of elements
*/
.row.multi-rows > .col {
  margin-top: 30px;
  margin-bottom: 30px;
  min-width: 280px;
  max-width: 280px;
}



.overflow-y-scroll {
  overflow-y: scroll;
}