/**
 * ACRONYMS
 * -------------------------------
 * App prefix: Et1 (Ecommerce Template 1)
*/


/**
 * Init
 * -------------------------------
*/
* {
  box-sizing: border-box;
}




/**
 * SCREEN
 * (Any panel that either occupies the entire window or part of it
 * -------------------------------
*/
.Et1 .screen {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
}

@import 'css/auth.css';
@import 'css/home.css';
@import 'css/single.css';
@import 'css/admin.css';



.screen.auth {
  background: lime;
}
.screen.home {
  background: red;
}
.screen.single {
  background: turquoise;
}


.test-with-class {
  border: 40px dashed lime;
}
ul {
  margin: 0;
}



/* 
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
