/**
 * ACRONYMS
 * -------------------------------
 * App prefix: Et1 (Ecommerce Template 1)
*/


/**
 * Init
 * -------------------------------
*/
/* Bootstrap framework */
@import 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css';
/* Fonts in use */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #e6e6e6;
}





/**
 * COLOR SCHEME
 * .......
 * -------------------------------
 * DARK 1: #21162A
 * PRIMARY: #47BDA7   rgba(71, 189, 167, 1)
 * LIGHT 1: #f5f5f5;  rgba(245, 245, 245, 1)
*/
.btn-primary {
  background-color: #47BDA7;
  border-color: #47BDA7;
}
.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(71, 189, 167,.5);
}

.card .link:hover,
.navbar-dark .navbar-brand,
.navbar-collapse .nav-item a:hover, /* react-router links */
.navbar-dark .navbar-nav .nav-link:hover {
  color: #47BDA7;
  text-decoration: none; /* for react-router links */
}
.badge-primary,
.dropdown-item:focus, .dropdown-item:hover {
  /* color: #16181b;
  text-decoration: none; */
  background-color: #47BDA7;
}







/**
 * SCREEN
 * (Any panel that either occupies the entire window or part of it
 * -------------------------------
*/
.Et1 .screen { 
  position: relative; 
}


@import 'css/layouts.css';
@import 'css/product.css';
@import 'css/auth.css';
@import 'css/home.css';
@import 'css/single.css';
@import 'css/admin.css';
@import 'css/theme.css';


 

.test-with-class {
  border: 40px dashed lime;
}
ul {
  margin: 0;
}






/**
 * Utilities
 * -----------
*/
.full-screen {
  width: 100%;
  height: 100vh;
}
.panel.panel-danger.errors {
  color: #dc3545!important;
}
.panel.panel-danger.errors .panel-title {
  font-size: 1.3rem;
}
.text-danger {
  background: #e8cccf!important;
}
.txt-highlight {
  color: #007bff;
}
.txt-dark {
  color: #000;
}
.txt-light {
  color: #f5f5f5;
}
.txt-grayed {
  color: #666;
}
.txt-bold {
  font-weight: 600;
}
.block {
  display: block;
} 




/**
 * App grid
 * -----------
*/
.app-row {
  display: flex;
  border: 2px solid lime;
}
.app-row .app-col {
  flex: 1;
  border: 2px solid turquoise;
}
.title-size4 {
  font-size: 1.3rem;
}






/**
 * Top Nav styles
 * ----------------------
*/
.Et1 > .screen {
  padding-top: 56px; /* Bootstrap navbar's height (collapsed) */
}
.top-navigation {
  position: fixed;
  top: 0;
  z-index: 11;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  /* height: 40px; */
  background-color: #333;
}
.PreviewBox {
  font-size: 0.7rem;
}
.PreviewBox p {
  margin: 0;
}






/**
 * modal-itemDetail
 * ----------------------
*/
.modal-itemDetail .modal-title {
  text-transform: capitalize;
}
.modal-itemDetail__image,
.modal-itemDetail__title,
.modal-itemDetail__article {
  margin-bottom: 1.5rem;
}
.modal-itemDetail__addinfo {
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.modal-itemDetail__footer {
  background: #ddd;
  border-bottom-right-radius: .3rem;
  border-bottom-left-radius: .3rem;
}

.modal-itemDetail__title {
  position: relative;
}
.modal-itemDetail__title small {
  font-size: 1rem;
}
.modal-itemDetail__title small .title-size4 {
  font-size: 0.95rem;
}


/* .modal-body  */


.box-shadow-hover {
  -webkit-transition: box-shadow 0.3s ease-out;
  -moz-transition: box-shadow 0.3s ease-out;
  -o-transition: box-shadow 0.3s ease-out;
  transition: box-shadow 0.3s ease-out;
}

.box-shadow-hover:hover {
  -webkit-box-shadow: 0px 0px 71px -7px rgba(71, 189, 167, 1);
  -moz-box-shadow: 0px 0px 71px -7px rgba(71, 189, 167, 1);
  box-shadow: 0px 0px 71px -7px rgba(71, 189, 167, 1);
}








.navbar .navbar-nav {
  text-transform: uppercase;
}
.navbar .navbar-nav {
  text-transform: uppercase;
  font-size: 0.85rem;
}
.navbar a {
  color: #f5f5f5;  
}
.navbar-toggler {
  border: 1px solid #f5f5f5; 
}
.navbar-dark .navbar-toggler {
  color: rgba(245, 245, 245, 1)!important;
  border-color: rgba(245, 245, 245, 1)!important;
}

/* Adapting react-router links to bootstrap's */
@media (min-width: 768px) {
  .navbar-collapse .nav-item a {
    color: rgba(255,255,255,.5);
    display: block;
    padding: .5rem 1rem;
    padding-right: .5rem;
    padding-left: .5rem;
  }
}




body.modal-open {
  overflow: visible;
}