/**
 * ACRONYMS
 * -------------------------------
 * App prefix: Et1 (Ecommerce Template 1)
*/


/**
 * Init
 * -------------------------------
*/
/* Bootstrap framework */
@import 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css';
/* Fonts in use */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
body {
  font-family: 'Montserrat', sans-serif;
}




/**
 * SCREEN
 * (Any panel that either occupies the entire window or part of it
 * -------------------------------
*/
.Et1 .screen {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
}


@import 'css/layouts.css';
@import 'css/product.css';
@import 'css/auth.css';
@import 'css/home.css';
@import 'css/single.css';
@import 'css/admin.css';
@import 'css/theme.css';



.screen.home {
  background: #999;
}
.screen.single {
  background: turquoise;
}


.test-with-class {
  border: 40px dashed lime;
}
ul {
  margin: 0;
}



/* 
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */






/**
 * App grid
 * -----------
*/
.app-row {
  display: flex;
  border: 2px solid lime;
}
.app-row .app-col {
  flex: 1;
  border: 2px solid turquoise;
}






/**
 * Top Nav styles
 * ----------------------
*/
.Et1 > .screen {
  padding-top: 50px;
}
.top-navigation {
  position: fixed;
  top: 0;
  z-index: 11;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  /* height: 40px; */
  background-color: #333;
}
.PreviewBox {
  font-size: 0.7rem;
}
.PreviewBox p {
  margin: 0;
}